body {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("cake/IMG_5021.jpg");
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    color: white !important; 
    font-family: "Helvetica", Arial, sans-serif;
    margin: 0;
    padding: 40px 20px;
    text-align: center;
}
