body {
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), 
        url("cake/IMG_5021.jpg");
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    color: #111 !important;
    font-family: "Helvetica", Arial, sans-serif;
    margin: 0;
    padding: 40px 20px;
    text-align: center;
}
